<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @film.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @film.description %>
</p>

<h3>Comments</h3>
<% @film.comments.each do |comment| %>
  <div>
    <%= comment.body %>
  </div>
<% end %>
<br>
<br>
<br>

<%= link_to 'Edit', edit_film_path(@film) %> |
<%= link_to 'Back', films_path %>
